# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
venv/
.envrc

# Flask
instance/
*.db
*.sqlite3

# OS
.DS_Store

# Editor
.vscode/
.idea/

#env variable
.env
venv/
.env.*
.envrc

node_modules/

coverage/
htmlcov/

*.log

terraform.tfstate
terraform.tfstate.*

.idea
.vscode

*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
terraform/aws/
terraform/awscliv2.zip
override.tf
override.tf.json

# Terraform lock
.terraform.lock.hcl

# variable files
*.tfvars

# binaries
*.zip
